.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 10px;
}

body {
  background: #e5e5e5;
}

.goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.filter-block {
  margin-bottom: 50px;
}



